CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE topology ISIS_MT_NAMES [overload]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE spf-interval [level-1|level-2] (1-120)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE spf-interval (1-120)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE spf-delay-ietf init-delay (0-60000) short-delay (0-60000) long-delay (0-60000) holddown (0-60000) time-to-learn (0-60000)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE spf prefix-priority <critical|high|medium> ACCESSLIST_NAME
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE set-overload-bit on-startup (0-86400)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE set-overload-bit
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE segment-routing prefix <A.B.C.D/M|X:X::X:X/M> <absolute (16-1048575)|index (0-65535)> [<no-php-flag|explicit-null>] [n-flag-clear]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE segment-routing on
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE segment-routing node-msd (1-16)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE segment-routing global-block (16-1048575) (16-1048575) [local-block (16-1048575) (16-1048575)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE redistribute <ipv4 PROTO_IP_REDIST_STR|ipv6 PROTO_IP6_REDIST_STR> [{metric (0-16777215)|route-map RMAP_NAME}]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE quit
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no spf-interval [level-1|level-2] [(1-120)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no spf-interval [(1-120)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no spf-delay-ietf [init-delay (0-60000) short-delay (0-60000) long-delay (0-60000) holddown (0-60000) time-to-learn (0-60000)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no spf-delay-ietf
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no spf prefix-priority <critical|high|medium> [ACCESSLIST_NAME]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no set-overload-bit on-startup [(0-86400)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no segment-routing prefix <A.B.C.D/M|X:X::X:X/M> [<absolute (16-1048575)|index (0-65535)> [<no-php-flag|explicit-null>]] [n-flag-clear]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no segment-routing node-msd [(1-16)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no segment-routing global-block [(16-1048575) (16-1048575) local-block (16-1048575) (16-1048575)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no segment-routing [on]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no mpls-te router-address ipv6 [X:X::X:X]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no mpls-te router-address [A.B.C.D]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no mpls-te export
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no mpls-te [on]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no mpls ldp-sync holddown [<(1-10000)>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no mpls ldp-sync
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no metric-style [narrow|transition|wide]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no max-lsp-lifetime [level-1|level-2] [(350-65535)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no max-lsp-lifetime [(350-65535)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no lsp-timers [level-1|level-2] [gen-interval (1-120) refresh-interval (1-65235) max-lifetime (350-65535)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no lsp-refresh-interval [level-1|level-2] [(1-65235)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no lsp-refresh-interval [(1-65235)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no lsp-mtu [(128-4352)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no lsp-gen-interval [level-1|level-2] [(1-120)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no lsp-gen-interval [(1-120)]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no is-type [<level-1|level-1-2|level-2-only>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no fast-reroute remote-lfa prefix-list [WORD] [<level-1|level-2>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE no <area-password|domain-password>
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE net WORD
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE mpls-te router-address ipv6 X:X::X:X
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE mpls-te router-address A.B.C.D
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE mpls-te on
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE mpls-te export
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE mpls ldp-sync holddown (0-10000)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE mpls ldp-sync
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE metric-style <narrow|transition|wide>
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE max-lsp-lifetime [level-1|level-2] (350-65535)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE max-lsp-lifetime (350-65535)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE lsp-timers [level-1|level-2] gen-interval (1-120) refresh-interval (1-65235) max-lifetime (350-65535)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE lsp-refresh-interval [level-1|level-2] (1-65235)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE lsp-refresh-interval (1-65235)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE lsp-mtu (128-4352)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE lsp-gen-interval [level-1|level-2] (1-120)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE lsp-gen-interval (1-120)
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE log-adjacency-changes
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE is-type <level-1|level-1-2|level-2-only>
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE fast-reroute remote-lfa prefix-list WORD [<level-1|level-2>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE exit
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE end
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE domain-password <clear|md5> WORD [authenticate snp <send-only|validate>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE default-information originate <ipv4|ipv6> [always] [{metric (0-16777215)|route-map RMAP_NAME}]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE area-password <clear|md5> WORD [authenticate snp <send-only|validate>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] topology <standard|ipv4-unicast|ipv4-mgmt|ipv6-unicast|ipv4-multicast|ipv6-multicast|ipv6-mgmt|ipv6-dstsrc> [overload]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] set-overload-bit
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] redistribute <ipv4 PROTO_IP_REDIST_STR|ipv6 PROTO_IP6_REDIST_STR> <level-1|level-2> [{metric (0-16777215)|route-map RMAP_NAME}]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] purge-originator
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] net WORD
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] mpls-te inter-as [level-1|level-1-2|level-2-only]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] log-adjacency-changes
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] hostname dynamic
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] fast-reroute priority-limit <critical|high|medium> [<level-1|level-2>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] fast-reroute load-sharing disable [<level-1|level-2>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] fast-reroute lfa tiebreaker <downstream|lowest-backup-metric|node-protecting> index (1-255) [<level-1|level-2>]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] default-information originate <ipv4|ipv6> <level-1|level-2> [always] [{metric (0-16777215)|route-map RMAP_NAME}]
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] attached-bit send
CONFIG_NODE router isis WORD [vrf NAME] ISIS_NODE [no] attached-bit receive ignore
