CONFIG_NODE key chain WORD KEYCHAIN_NODE quit
CONFIG_NODE key chain WORD KEYCHAIN_NODE no key chain WORD
CONFIG_NODE key chain WORD KEYCHAIN_NODE no key (0-2147483647)
CONFIG_NODE key chain WORD KEYCHAIN_NODE key chain WORD
CONFIG_NODE key chain WORD KEYCHAIN_NODE key (0-2147483647)
CONFIG_NODE key chain WORD KEYCHAIN_NODE exit
CONFIG_NODE key chain WORD KEYCHAIN_NODE end
