CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE quit
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE pce-config WORD
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE pce WORD
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE pcc
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE no pce-config WORD
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE no pce WORD
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE no pcc
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE exit
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE traffic-eng SR_TRAFFIC_ENG_NODE pcep PCEP_NODE end
