CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE locators
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE exit
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE end
