CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE locators SRV6_LOCS_NODE no locator WORD
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE locators SRV6_LOCS_NODE locator WORD
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE locators SRV6_LOCS_NODE exit
CONFIG_NODE segment-routing SEGMENT_ROUTING_NODE srv6 SRV6_NODE locators SRV6_LOCS_NODE end
